# Python bytecode
__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Python distribution & packaging
/build/
/dist/
*.egg-info/
/.pytest_cache/
.coverage

# mac OS Finder detritus
.DS_Store

# IntelliJ project files
/.idea/
/venv/
*.iml

